doctype html
html
  head
    meta(charset='utf-8')
    title Light Sensor
    link(href='/less/app.css', rel='stylesheet')
  body
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery-2.1.1.js')
    script(src='/js/main.js')
